// [嚼勁]網線排版用
// *,
// *::before,
// *::after {
//    outline: 1px solid red;
// }

picture {
  max-width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  // text-decoration: none; //已設定 $link-decoration: none
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.object-fit {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.cursor {
  cursor: pointer;
}

input:focus {
  caret-color: $brand-500;
}
.form-control:focus {
  border-color: $brand-200 !important; // 邊框顏色
  box-shadow: 0 0 8px $brand-200 !important; // 外陰影顏色
}

.form-check-input:checked {
  background-color: $brand-core;
  /* 修改選中時的背景顏色 */
  border-color: $brand-core;
  /* 修改選中時的邊框顏色 */
}

.breadcrumb-item {
  color: $grey-400;
}

::placeholder {
  color: $grey-400;
  font-size: 14px;
}

//[嚼勁]bootstrap內建icon系統
i {
  display: inline-block;
  line-height: 0;
}

//[嚼勁]span預設inline不太好排版，所以改成inline-block比較好用
span {
  display: inline-block;
}
