.dramaList{
    .breadcrumb{
        @include rwd-lg-max {
            display: none;
        }
}

    .addDrama-bg{
        height: 115px;
        background-image: url(./images/inner/Frame%201000005422.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sortBoard{
        @include rwd-lg-max {
            display: none;
        }
    }

    .nav-enable .nav-link{
        &.active{
            color:#460902 ;
            font-weight: 600;
        }
    }
    
    .badge-group{
        margin-top: 24px;
    }

    .badge{
        border-radius: 0;
    }
    .avatar{
        width: 40px;
        height: 40px;
    }

    .img-scale:hover{
        transform: scale(1.1);
        transition: 1s;
    }

    .offcanvas.offcanvas-filter{
        height: 85vh;
    }

    .offcanvas.offcanvas-sort {
        height: 40vh;
    }
}