


.img-s {
  width: 24px;
  height: 24px;
}
.img-m {
  width: 32px;
  height: 32px;
}
.img-l {
  width: 40px;
  height: 40px;
}

.bg-footer {
  @media (min-width: 992px) {
    background: linear-gradient(to right, #b72706 50%, #ffffff 50%);
  }
}

.col-lg-6-12{
  @media (min-width: 992px) {
    width: calc(50% - 12px);
  }
}

.fill-brand-300 {
  fill: #ffa13c;
}

.bg-decorate-img {
  width: 100%;
  height: 96px;
  background-size: cover;
  background-position: 0 center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.bg-decorate-img-992{
  @media (min-width: 992px) {
    background-size: contain;
    width: 100%;
    height: 201px;
    margin-bottom: 100px;
    background-position: 0 center;
    background-repeat: no-repeat;
  }
}


.bg-banner-img {
  background-position: center;
  width: 100%;
  height: 684px;
  background-repeat: no-repeat;
}

.bg-banner-img-992{
  @media (min-width: 992px) {
    background-repeat: no-repeat;
    background-position: center;
    width: 1824px;
    height: 936px;
    background-size: cover;
  }
}




.bg-center1{
  @media (min-width: 992px) {
    background: #FFF6EB;
    border-bottom-left-radius: 240px;
    border-top-left-radius: 100px ;
    border-top-right-radius:100px  ;
    height: 1196px;
    width: 100%;
    z-index: -1;
  }
}

.imgcard{
  width: 100%;
  height: 216px;
  object-fit : cover;
  @media (min-width: 992px) {
    width: 280px;
    height: 192px;
  }
}
